@import "../../global.scss";

.portfolioList {
    font-size: 14px;
    margin-right: 50px;
    margin-bottom: 25px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;

    // // media Query
    @include tablet{
        margin-right: 15px;
    }

    &.active {
        background-color: $mainColor;
        color: #ffffff;
    }
}